.activity {
    background-color: var(--lightBackgroud);
    padding: 10px;
    border-radius: 20px;
}

.activity-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-header h3 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--darkBlue);
}

.activity-header h6 {
    color: var(--darkGray);
}

.activity .activity-bar-container {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    height: 100px;
    padding: 12px;
}

.activity-days {
    display: flex;
    justify-content: space-evenly;
}

.activity-days span {
    font-size: 0.7rem;
}

@media (max-width: 560px) {
    .activity{
        align-items: center;
        width: 100%;
        max-width: 320px;
        flex-direction: column;
        overflow: hidden;
    }
    .activity-header{
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
}