.status-card{
    height: 110px;
    width: 150px;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
    border-radius: 25px;
    background-color:var(--lightBackgroud);
}

.status-card-container{
    display: flex;
    align-items: center;
    gap: 0 15px;
    padding: 10px;
}

.status-card-container h2{
    font-size: 1rem;
    font-weight: 500;
}

.status-card-container img{
    height: 30px;
    width: 30px;
}

.status-card h4{
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--darkGray);
} 

.progress-bar-container{
    width: 85%;
    border-radius: 8px;
    background-color: white;
}

.progress-bar{
    width: 70%;
    height: 6px;
    border-radius: 8px;
}